---
type EntryMetadata = {
  title: string;
  slug: string;
};
type Props = {
  entrys: EntryMetadata[];
};

const { entrys } = Astro.props;
---

<aside
  id="logo-sidebar"
  class="rounded-t-lg z-0 sticky top-0 -mt-20 w-64 pt-24 transition-transform -translate-x-full hidden bg-white lg:translate-x-0 lg:block dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div
    class="px-3 pb-4 overflow-y-auto border-r border-gray-200 bg-white dark:bg-gray-800"
  >
    <ul class="space-y-2 font-medium">
      {
        entrys.map(({ title, slug }) => {
          return (
            <li>
              <a
                href={`/${slug}`}
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              >
                <span class="ms-3">{title}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</aside>
