---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
};
const { headings } = Astro.props;
---

<script is:inline>
  function scrollToSection(sectionId) {
    let yOffset = -100;

    let element = document.getElementById(sectionId);

    if (element) {
      let y =
        element.getBoundingClientRect().top + window.pageYOffset + yOffset;
      window.scrollTo({ top: y, behavior: "smooth" });
      event.preventDefault();
    }
  }
</script>
<div class="flex py-6 w-full h-full">
  <div class="flex flex-col h-fit px-4 gap-2 border-solid border-l-2 text-sm">
    {
      headings.map(({ depth, slug, text }) => (
        <div class={`ml-${(depth - 1) * 2} ${depth > 1 ? "pl-2" : ""}`}>
          <a
            href={`#${slug}`}
            onclick={`scrollToSection("${decodeURI(encodeURI(slug))}")`}
            class=" text-gray-600 hover:underline"
          >
            {text}
          </a>
        </div>
      ))
    }
  </div>
</div>
